[Desktop Entry]
Name=Nula Lang
Comment=Uruchom język programownia nula
Exec=/usr/lib/nula/nula-terminal.sh
Icon=/usr/share/icons/nula.png
Terminal=false
Type=Application
Categories=Utility;Development;
StartupNotify=false
